.base {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  z-index: 1;
}

.static {
  composes: base;
  box-shadow:
    rgba(255,255,255,.70)  830px 484px 0 0px,
    rgba(255,255,255,.80)  155px 653px 0 0px,
    rgba(255,255,255,.72)  668px 265px 0 0px,
    rgba(255,255,255,.69)  546px 564px 0 0px,
    rgba(255,255,255,.68)   60px 635px 0 0px,
    rgba(255,255,255,.89)  509px 424px 0 0px,
    rgba(255,255,255,.77)  516px 451px 0 0px,
    rgba(255,255,255,.49)  891px 284px 0 0px,
    rgba(255,255,255,.85) 1087px  26px 0 0px,
    rgba(255,255,255,.87)  312px 665px 0 1px,
    rgba(255,255,255,.88)  163px 301px 0 0px,
    rgba(255,255,255,.51)  540px 434px 0 0px,
    rgba(255,255,255,.77)  610px 299px 0 1px,
    rgba(255,255,255,.81)  303px 635px 0 0px,
    rgba(255,255,255,.57)  590px 617px 0 0px,
    rgba(255,255,255,.75)  790px 415px 0 0px,
    rgba(255,255,255,.63)  249px 433px 0 0px,
    rgba(255,255,255,.44)  553px 684px 0 0px,
    rgba(255,255,255,.30)  132px  38px 0 1px,
    rgba(255,255,255,.60)  243px 567px 0 1px,
    rgba(255,255,255,.41)  937px 411px 0 0px,
    rgba(255,255,255,.72)  213px 179px 0 0px,
    rgba(255,255,255,.76)  637px 368px 0 0px,
    rgba(255,255,255,.71) 1049px 426px 0 0px,
    rgba(255,255,255,.31)  107px 485px 0 0px,
    rgba(255,255,255,.76)  682px 508px 0 0px,
    rgba(255,255,255,.40)  201px 402px 0 0px,
    rgba(255,255,255,.81) 1180px 403px 0 0px,
    rgba(255,255,255,.45)  931px 175px 0 0px,
    rgba(255,255,255,.81)  114px 530px 0 0px,
    rgba(255,255,255,.33) 1089px 667px 0 0px,
    rgba(255,255,255,.71)  834px 493px 0 0px,
    rgba(255,255,255,.75)  121px 626px 0 0px,
    rgba(255,255,255,.72)  980px 171px 0 0px,
    rgba(255,255,255,.63) 1138px 223px 0 0px,
    rgba(255,255,255,.45)  776px 362px 0 0px,
    rgba(255,255,255,.49)  686px 120px 0 0px,
    rgba(255,255,255,.57)  279px 605px 0 0px,
    rgba(255,255,255,.38)  252px 591px 0 0px,
    rgba(255,255,255,.89) 1128px  18px 0 0px,
    rgba(255,255,255,.53)  385px 487px 0 0px,
    rgba(255,255,255,.35)  351px 146px 0 0px,
    rgba(255,255,255,.41)  710px 166px 0 0px,
    rgba(255,255,255,.52)   67px 675px 0 0px,
    rgba(255,255,255,.51)  506px  24px 0 0px,
    rgba(255,255,255,.32)  119px 126px 0 0px,
    rgba(255,255,255,.61)  420px  61px 0 0px,
    rgba(255,255,255,.71)  189px 238px 0 0px,
    rgba(255,255,255,.73) 1124px 107px 0 0px,
    rgba(255,255,255,.35)  219px 367px 0 0px,
    rgba(255,255,255,.43)  108px 556px 0 0px,
    rgba(255,255,255,.63)  575px 332px 0 0px,
    rgba(255,255,255,.59)  711px 621px 0 0px,
    rgba(255,255,255,.39) 1020px 238px 0 0px,
    rgba(255,255,255,.51)    6px 435px 0 0px,
    rgba(255,255,255,.33)  817px 324px 0 0px,
    rgba(255,255,255,.63)  130px 286px 0 0px,
    rgba(255,255,255,.85)  826px 239px 0 0px,
    rgba(255,255,255,.64)  726px 102px 0 0px,
    rgba(255,255,255,.44)  696px 548px 0 0px,
    rgba(255,255,255,.59)  727px 468px 0 0px,
    rgba(255,255,255,.62)  689px 579px 0 0px,
    rgba(255,255,255,.77)   34px  94px 0 0px,
    rgba(255,255,255,.84)  881px 552px 0 0px,
    rgba(255,255,255,.61) 1019px 168px 0 0px,
    rgba(255,255,255,.66)  322px 216px 0 0px,
    rgba(255,255,255,.84) 1139px 464px 0 0px,
    rgba(255,255,255,.42)  884px 194px 0 0px,
    rgba(255,255,255,.45)  205px 278px 0 0px,
    rgba(255,255,255,.70)   30px 275px 0 0px,
    rgba(255,255,255,.35)  702px 533px 0 0px,
    rgba(255,255,255,.87)  795px 478px 0 0px,
    rgba(255,255,255,.57)  767px 164px 0 0px,
    rgba(255,255,255,.65)  941px 461px 0 0px,
    rgba(255,255,255,.36)  879px 359px 0 0px,
    rgba(255,255,255,.55)  441px 170px 0 0px,
    rgba(255,255,255,.83)  909px 493px 0 0px,
    rgba(255,255,255,.64)  522px 115px 0 1px,
    rgba(255,255,255,.49)  826px 356px 0 0px,
    rgba(255,255,255,.48) 1157px 291px 0 1px,
    rgba(255,255,255,.88) 1068px 546px 0 0px,
    rgba(255,255,255,.68) 1179px 657px 0 0px,
    rgba(255,255,255,.51) 1064px 299px 0 0px,
    rgba(255,255,255,.27)  345px 312px 0 0px,
    rgba(255,255,255,.67)  640px 414px 0 0px,
    rgba(255,255,255,.75)   44px  85px 0 0px,
    rgba(255,255,255,.74) 1069px 321px 0 0px,
    rgba(255,255,255,.36)  633px 384px 0 0px,
    rgba(255,255,255,.33) 1133px 332px 0 0px,
    rgba(255,255,255,.44)   47px 599px 0 1px,
    rgba(255,255,255,.29)   73px 218px 0 0px,
    rgba(255,255,255,.34)  188px  51px 0 0px,
    rgba(255,255,255,.74)  177px 184px 0 0px,
    rgba(255,255,255,.26)  157px 533px 0 0px,
    rgba(255,255,255,.66)  283px 155px 0 1px,
    rgba(255,255,255,.78)  857px  66px 0 0px,
    rgba(255,255,255,.73)  777px 483px 0 0px,
    rgba(255,255,255,.74)  901px  59px 0 0px,
    rgba(255,255,255,.89)  382px 112px 0 0px,
    rgba(255,255,255,.30)  515px 650px 0 0px,
    rgba(255,255,255,.57)  334px 543px 0 0px,
    rgba(255,255,255,.53)  747px 494px 0 0px,
    rgba(255,255,255,.26)  247px  96px 0 0px,
    rgba(255,255,255,.71)  473px 250px 0 0px,
    rgba(255,255,255,.47)  455px 626px 0 0px,
    rgba(255,255,255,.83)  747px 195px 0 0px,
    rgba(255,255,255,.61)  809px 451px 0 0px,
    rgba(255,255,255,.86)  511px 536px 0 0px,
    rgba(255,255,255,.77)  285px 596px 0 0px,
    rgba(255,255,255,.60)  823px 550px 0 0px;
}

.twinkle {
  composes: base;
  animation: twinkle 4s ease-in-out 1s infinite;
  box-shadow:
    rgba(255,255,255,.90) 1190px 694px 0 1px,
    rgba(255,255,255,.48) 1069px 482px 0 0px,
    rgba(255,255,255,.66)  104px 511px 0 1px,
    rgba(255,255,255,.60)   25px 454px 0 0px,
    rgba(255,255,255,.80)   56px 121px 0 0px,
    rgba(255,255,255,.65)  159px 461px 0 0px,
    rgba(255,255,255,.49)  555px 350px 0 0px,
    rgba(255,255,255,.29)  111px 167px 0 0px,
    rgba(255,255,255,.88)  252px 384px 0 0px,
    rgba(255,255,255,.60)  105px 613px 0 0px,
    rgba(255,255,255,.64)  608px 128px 0 0px,
    rgba(255,255,255,.40)   17px 266px 0 0px,
    rgba(255,255,255,.45)  913px 164px 0 1px,
    rgba(255,255,255,.73)  899px 512px 0 1px,
    rgba(255,255,255,.52)  198px 484px 0 0px,
    rgba(255,255,255,.88)  529px 249px 0 0px,
    rgba(255,255,255,.88)  316px 106px 0 0px,
    rgba(255,255,255,.56)  240px 388px 0 0px,
    rgba(255,255,255,.78)  215px 114px 0 0px,
    rgba(255,255,255,.56)  580px 178px 0 1px,
    rgba(255,255,255,.67)  693px   8px 0 0px,
    rgba(255,255,255,.27)  140px 171px 0 0px,
    rgba(255,255,255,.41) 1003px 167px 0 0px,
    rgba(255,255,255,.55)  806px 667px 0 0px,
    rgba(255,255,255,.49)  581px  75px 0 0px,
    rgba(255,255,255,.90)  892px 212px 0 0px,
    rgba(255,255,255,.48)  925px 336px 0 0px,
    rgba(255,255,255,.39)  720px 175px 0 0px,
    rgba(255,255,255,.40)  755px 682px 0 0px,
    rgba(255,255,255,.60)   89px 495px 0 0px,
    rgba(255,255,255,.78) 1041px  59px 0 0px,
    rgba(255,255,255,.40) 1108px  64px 0 0px,
    rgba(255,255,255,.48)  831px  19px 0 0px,
    rgba(255,255,255,.63)  926px 569px 0 0px,
    rgba(255,255,255,.54)   73px 296px 0 0px;
}
